body{
    overflow: hidden;
}

.grille {
    margin: auto;
    width: 500px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }

footer{
    position: absolute;
    bottom: 0;
    margin: auto;
    margin-left: -10px;
    padding: 10px;
    width: 100%;
    background-color: darkgray;
    text-align: center;
    
}

.pied{
    
}